#!/usr/bin/python

import sys

action = sys.argv[2]
package = sys.argv[3] if len(sys.argv) >= 4 else ''

def packages_output(packages):
    for package in packages:
        print ':///%s' % package

if action == '-Sy':
    # update
    pass
elif action == '-Sup':
    # get upgrade package list
    packages_output(['mod-python-0.9-1-any.pkg.tar.xz'])
    pass
elif action == '-Sp':
    # get dependencies of one package
    pass
elif action == '-Su':
    # do an upgrade
    import time
    time.sleep(5)
    pass
elif action == '-S':
    # install one package
    pass
